@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: rgb(0, 0, 250);
  --secondary: rgb(16, 16, 100);
  --secondary-gradient: linear-gradient(
    rgba(16, 16, 100, 0.7),
    rgba(16, 16, 100, 0.95)
  );
  --black: rgb(16, 16, 16);
  --white: rgb(243, 243, 243);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  box-sizing: none;
}

html {
  scroll-behavior: smooth;
  background: var(--white);
  color: var(--black);
}

body {
  width: 100%;
  max-width: 100svw;
  overflow-x: hidden;
}

/* DEFAULT CSS */
h5 {
  font-family: "Oooh Baby", cursive;
}

.container {
  padding: 75px 90px 25px;
}

.title {
  text-align: center;
  margin-bottom: 75px;
}

.title h3 {
  font-size: 52px;
  font-weight: 700;
  margin: 10px 0;
  text-transform: uppercase;
  color: var(--primary);
}

.title h5 {
  font-size: 40px;
  margin-top: -55px;
  color: var(--secondary);
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 9px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: var(--white);
  width: 90%;
  max-width: 100svw;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav .menu {
    display: none;
}

nav .close{
    display: none;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1.2;
  color: var(--primary);
}

nav .logo h4 {
  font-weight: 300;
}

nav img {
  width: 55px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  color: var(--primary);
}

nav ul li {
  margin: 0 15px;
  font-size: 16px;
  text-transform: uppercase;
}

nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: 0.3s;
}

nav ul li:hover::after {
  width: 100%;
}

/* HOME */
.home {
  background-image: var(--secondary-gradient), url("img/hero.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--white);
  height: 100vh;  
}

.home .content {
  padding: 25px 0 0 150px;
}

.home .content h1 {
  font-size: 120px;
  line-height: 0.9;
  font-weight: 700;
  margin: 10px -10px;
}

.home .content h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  margin: 10px 0;
}

.home .content h5 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  font-style: italic;
}

.home .content .btn {
  border: 2px solid var(--white);
  color: var(--white);
  background: none;
  padding: 8px 25px;
  margin: 45px 0 0 5px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.home .content .btn:hover {
  background: var(--white);
  color: var(--secondary);
}

/* Tentang Kami */
.about {
  padding: 75px 75px 50px 125px; 
}

.about .content {
  display: flex;
  align-items: center;
}

.about .content .image {
  width: 40%;
}

.about .image {
  position: relative;
}

.about .image .box {
  background: var(--white);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 8px 30px;
  position: absolute;
  top: 50%;
  transition: 0.3s;
}

.about .image .box1 {
  transform: translateY(-50%) rotate(-4deg);
  animation: 10s rotateImage1 infinite;
}

.about .image .box2 {
  transform: translateY(-50%) rotate(2deg);
  animation: 10s rotateImage2 infinite;
}

@keyframes rotateImage1 {
  30% {
    transform: translateY(-50%) rotate(-4deg);
  }
  50% {
    transform: translateY(-50%) rotate(-6deg);
  }
  70% {
    transform: translateY(-50%) rotate(-4deg);
  }
}

@keyframes rotateImage2 {
  30% {
    transform: translateY(-50%) rotate(2deg);
  }
  50% {
    transform: translateY(-50%) rotate(6deg);
  }
  70% {
    transform: translateY(-50%) rotate(2deg);
  }
}

.about .image img {
  width: 100%;
}

.about .text {
  width: 60%;
  text-align: justify;
  padding: 0 50px;
}

.about .text p {
  text-indent: 20px;
  font-size: 20px;
  color: var(--secondary);
}

.about .btn {
  padding: 8px 20px;
  color: var(--secondary);
  background: none;
  border-radius: 8px;
  margin-top: 30px;
  font-size: 20px;
  border: 2px solid var(--secondary);
  cursor: pointer;
  transition: 0.2s;
}

.about .btn:hover {
  background: var(--secondary);
  color: var(--white);
  transform: scale(1.04);
}

/* Divisi */
.divisi .title {
  margin-bottom: 50px;
}

.divisi .content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.divisi .box {
  width: 25%;
  background: var(--white);
  color: var(--secondary);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 40px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divisi .content .box:hover {
  transform: scale(1.05) rotate(1deg);
}

.divisi .content .box:nth-child(even):hover {
  transform: scale(1.05) rotate(-1deg);
}

.divisi .box h3 {
  font-size: 25px;
  margin: 15px 0 5px;
}

.divisi .box p {
  color: var(--black);
  text-align: justify;
  font-size: 16px;
}

/* Program Kerja */
.program .content {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.program .content .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--secondary);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 45px 35px;
  border-radius: 8px;
  transition: 0.3s;
  width: 33%;
  cursor: pointer;
}

.program .content .box:hover {
  transform: scale(1.05) rotate(1deg);
}

.program .content .box:nth-child(even):hover {
  transform: scale(1.05) rotate(-1deg);
}

.program .box h3 {
  font-size: 28px;
  margin: 30px 0 5px;
}

.program .box h5 {
  font-size: 20px;
  margin: -5px 0 15px;
}

.program .box img {
  width: 100%;
  max-width: 150px;
}

.program .box p {
  color: var(--black);
  text-align: justify;
  font-size: 16px;
}

/* Hubungi Kami */
.contact {
  background: var(--secondary);
  width: 100svw;
  overflow-x: hidden;
}

.contact .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 115px 100px;
}

.contact .box {
  width: 60%;
}

.contact .box .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 50%;
  color: var(--white);
}

.contact .box h3 {
  font-size: 32px;
  margin: 25px 0 45px;
  color: var(--white);
}

.contact .social {
  font-size: 16px;
  gap: 30px;
  display: flex;
  list-style: none;
}

.contact .social li {
  font-size: 22px;
  width: 45px;
  padding: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .social li:hover {
  transform: scale(1.05);
}

.contact .box img {
  width: 100%;
  max-width: 50px;
}

.contact svg {
  margin-top: -1px;
}

.contact svg path {
  fill: var(--white);
}

.contact .title h3 {
  color: var(--white);
}

.contact .title h5 {
  color: var(--primary);
}

.contact .form {
  width: 35%;
  padding: 25px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact form input,
.contact form textarea {
  padding: 15px;
  border-radius: 4px;
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  border: none;
  outline: none;
}

.contact form textarea {
  height: 150px;
  resize: none;
}

.contact form button {
  padding: 10px;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  width: 35%;
  margin-left: auto;
}

.contact form button:hover {
  transform: scale(1.02);
}

/* Footer */
footer {
  background: var(--secondary);
  color: var(--white);
  text-align: center;
  padding-bottom: 25px;
}

footer a {
  color: var(--white);
}

/* TABLET RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .container {
    padding: 50px 80px 20px;
  }

  .title {
    margin-bottom: 50px;
  }

  .title h3 {
    font-size: 40px;
    margin: 5px 0;
  }

  .title h5 {
    font-size: 30px;
    margin-top: -40px;
  }

  /* NAVBAR */
  nav {
    padding: 10px 30px 9px;
  }

  nav .menu {
    display: none;
  }

  nav .text h3 {
    font-size: 20px;
  }

  nav .text h5 {
    font-size: 15px;
  }

  nav img {
    width: 45px;
  }

  nav .close{
    display: none;
  }

  nav ul li {
    margin: 0 8px;
    font-size: 14px;
  }

  nav .text h3 {
    font-size: 17px;
  }

  nav .text h5 {
    font-size: 10px;
  }

  /* HOME */
  .home .content {
    padding: 25px 0 0 90px;
  }

  .home .content h1 {
    font-size: 100px;
  }

  .home .content h3 {
    font-size: 24px;
  }

  .home .content h5 {
    font-size: 35px;
  }

  .home .content .btn {
    padding: 8px 20px;
    font-size: 16px;
  }

  /* Tentang Kami */
  .about {
    padding: 65px 45px 25px 75px;
  }

  .about .content .image {
    width: 50%;
  }

  .about .text {
    padding: 0 35px;
  }

  .about .text p {
    font-size: 16px;
  }

  .about .btn {
    margin-top: 20px;
    font-size: 15px;
  }

  /* Divisi */
  .divisi .title {
    margin-bottom: 35px;
  }

  .divisi .content {
    gap: 15px;
  }

  .divisi .box {
    padding: 25px 15px;
    font-size: 30px;
  }

  .divisi .box h3 {
    font-size: 20px;
  }

  .divisi .box p {
    font-size: 14px;
  }

  .divisi .box .btn {
    padding: 8px 15px;
    margin-top: 15px;
    font-size: 13px;
  }

  .divisi .box .btn:hover {
    background: var(--secondary);
    color: var(--white);
  }

  /* Program Kerja */
  .program .content {
    gap: 15px;
  }

  .program .content .box {
    padding: 35px 25px;
  }

  .program .box h3 {
    font-size: 24px;
    margin: 25px 0 5px;
  }

  .program .box h5 {
    font-size: 16px;
    margin: -10px 0 15px;
  }

  .program .box p {
    font-size: 14px;
  }

  /* Hubungi Kami */
  .contact .content {
    padding: 15px 75px 90px 100px;
  }

  .contact .box .logo {
    width: 65%;
  }

  .contact .box h3 {
    font-size: 28px;
    margin: 25px 0 45px;
  }

  .contact .social {
    font-size: 15px;
    gap: 25px;
  }

  .contact .social li {
    font-size: 20px;
    width: 45px;
    padding: 7px;
  }

  .contact .form {
    width: 35%;
    padding: 15px;
  }

  .contact form {
    gap: 15px;
  }

  .contact form input,
  .contact form textarea {
    padding: 8px;
  }

  .contact form button {
    width: 40%;
  }

  /* Footer */
  footer {
    padding-bottom: 25px;
  }
}

/* PHONE RESPONSIVE */
@media only screen and (max-width: 768px) {  
  body{
    overflow-x: hidden !important;
    width: 100svw !important;
  }

  .container {
    padding: 75px 75px 25px;
  }

  .title {
    text-align: center;
    margin-bottom: 55px;
  }

  .title h3 {
    font-size: 30px; 
  }

  .title h5 {
    font-size: 26px;
    margin-top: -30px; 
  }

  /* NAVBAR */
  nav .logo .text{
    display: none;
  }

  nav .mobile{
    display: block;
    font-size: 26px;
    color: var(--primary);
  }

  nav .list.active{
    right: 0px;
  }

  nav .list{
    padding: 35px;
    position: absolute;
    z-index: 3;
    top: 0;
    right: -500px;
    height: 100dvh;
    width: 55vw;
    background: var(--white);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: 0.75s ease-in-out;
  }

  nav .list ul{
    margin-top: 45px;
    flex-direction: column;
  }

  nav .list ul li{
    padding: 10px 0;
    font-size: 16px;
  }

  /* HOME */  
  .home .content {
    padding: 25px 0 0 50px;
  }

  .home .content h1 {
    font-size: 55px;  
  }

  .home .content h3 {
    font-size: 15px;  
  }

  .home .content h5 {
    font-size: 25px; 
  }

  .home .content .btn { 
    padding: 8px 15px;
    margin: 65px 0 0 5px;
    font-size: 12px;
  }

  /* Tentang Kami */
  .about {
    padding: 75px 45px 50px;
  }

  .about .content { 
    flex-direction: column; 
  }

  .about .content .image {
    margin: 100px 0 175px;
    width: 100%;
  }

  .about .text {
    width: 100%;
    padding: 0 30px;
  }

  .about .text p { 
    font-size: 16px; 
  }

  .about .btn {
    padding: 8px 15px; 
    margin-top: 25px;
    font-size: 14px;   
  }

  /* Divisi */
  .divisi .title {
    margin-bottom: 35px;
  }

  .divisi .content {
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 15px;
  }

  .divisi .box {
    width: 100%;
    padding: 30px 20px;
    font-size: 30px;
  }

  .divisi .box h3 {
    font-size: 23px;
    margin: 15px 0 3px;
  }

  .divisi .box p {
    font-size: 14px;
  }

  .divisi .box .btn {
    padding: 8px 15px; 
    margin-top: 15px;
    font-size: 14px;
  }
 
  /* Program Kerja */
  .program .content { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;
  }

  .program .content .box {  
    padding: 35px 25px; 
    width: 100%; 
  }

  .program .box h3 {
    font-size: 28px;
    margin: 30px 0 5px;
  }

  .program .box h5 {
    font-size: 18px;
    margin: -5px 0 15px;
  }

  .program .box p { 
    font-size: 14px;
  }

  /* Hubungi Kami */
  .contact .content { 
    flex-direction: column; 
    padding: 0px 50px 50px;
  }

  .contact .box {
    width: 100%;
  }

  .contact .box .logo { 
    width: 100%; 
    font-size: 14px;
  }

  .contact .box h3 {
    font-size: 20px;
  }

  .contact .social { 
    gap: 25px; 
  }

  .contact .social li {
    font-size: 20px;
    width: 45px;
    padding: 5px;
    margin-bottom: 70px;
  }

  .contact .form {
    width: 100%;
    padding: 25px;
  }

  .contact form { 
    gap: 15px;
  }

  .contact form input,
  .contact form textarea {
    padding: 12px; 
    font-size: 16px; 
  }

  .contact form textarea {
    height: 125px; 
  }

  .contact form button { 
    font-size: 16px; 
    width: 40%; 
  } 

  /* Footer */
  footer { 
    padding-bottom: 25px;
  } 
}
